*{
	margin: 0px;
	padding: 0px;
}

.cleaner{
	clear: both;
}

body{
	font-family: 'Rubik', sans-serif;
}

:root{
	--text-highlight: #5cb85c;
}

a{
	text-decoration: none;
	color: #FFFDD1;
}

a:hover{
	color: #9AD93D;
}

.active{
	color: #9AD93D;
	border-bottom: 2px solid #9AD93D;
}

ol, ul{
	list-style-type: none;
}

h1{
	font-weight: normal;
}

@keyframes spustanje{
	0%{transform: translate(0px, -200px);}
	100%{transform: translate(0px, 0px);}
}

@keyframes levo{
	0%{transform: translate(-900px, 0px);}
	100%{transform: translate(0px, 0px);}
}

@keyframes podizanje{
	0%{transform: translate(0px, 200px);}
	100%{transform: translate(0px, 0px);}
}

@keyframes fadein{
	0%{opacity: 0;}
	100%{opacity: 1;}
}

header{
	width: 100%;
	background-color: #261711;
	position: relative;
	animation: spustanje 2s ease-out;
}

.center-block{
	margin: 0px auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 80%;
}

.padding-blok{
	padding: 15px 0px;
}

#logo-pic{
	float: left;
	margin-left: 45px;
}

#logo-pic img{
	height: 100px;
}

#logo-text{
	float: left;
	margin: 0px auto;
	font-family: 'Roboto Condensed', sans-serif;
}

#logo-text h1{
	font-size: 42px;
	text-align: center;
	line-height: 40px;
	margin-top: 10px;
	margin-left: 20px;
}

.light-green{
	color: #9AD93D;
}

.dark-green{
	color: #ABD948;
}

#nav-menu ul li{
	display: inline;
}

#nav-menu ul li a{
	font-size: 24px;
	text-transform: capitalize;
	margin-right: 20px;
}

#search-bar{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 20px;
}

#search-bar i{
	margin-left: 14px;
	font-size: 24px;
	text-align: center;
	color: #FFFDD1;
}

#search-bar input[type = search]{
	padding: 10px;
	border: none;
	border-radius: 15px;
	background-color: #FFFDD1;
	color: #000;
}

#search-bar input[type = search]:focus{
	color: #000;
}

#cover{
	height: 500px;
	background-image: url("../img/cover.jpg");
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	animation: fadein 2s;
}

#cover h2{
	color: #FFFDD1;
	text-align: center;
	padding: 20px;
	line-height: 60px;
	font-size: 40px;
}

#cover p{
	color: #FFFDD1;
	text-align: center;
	font-size: 20px;
	font-style: italic;
	padding-bottom: 20px;
}

#transparent-background{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	height: inherit;
	position: relative;
	background: rgba(0, 0, 0, 0.2);
}

#cover-content{
	background: rgba(0, 0, 0, 0.6);
	margin-left: 195px;
	border-radius: 10px;
	animation: levo 2s ease-out;
}

.blok-holder{
	width: 100%;
	border-bottom: 3px solid #ddd;
}

.blok-red{
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 25px 0px;
}

.naslov-oblasti{
	margin-top: 20px;
}

.naslov-2{
	margin-top: 30px;
}

.naslov-oblasti h3{
	color: var(--text-highlight);
	font-size: 38px;
	text-align: center;
	animation: fadein 2s;
}

.naslov-oblasti p{
	color: var(--text-highlight);
	font-size: 20px;
	text-align: center;
	animation: fadein 2s;
}

.zanimljivosti-blok{
	height: 470px;
	width: 39%;
	padding-top: 15px;
	animation: fadein 2s;
}

.zanimljivosti-blok img{
	height: 305px;
	width: 100%;
	box-shadow: 5px 7px 18px #888888;
	border-radius: 10px;
}

.zanimljivosti-blok h4{
	margin-top: 16px;
	color: var(--text-highlight);
	font-size: 24px;
}

.zanimljivosti-blok p{
	margin-top: 12px;
	font-size: 18px;
}

.zanimljivosti-blok a{
	color: var(--text-highlight);
	text-decoration: underline;
	font-weight: bold;
}

.pocetna-izlozbe-blok{
	width: 30%;
	height: 470px;
	animation: fadein 2s;
}

.pocetna-izlozbe-blok h4{
	margin-top: 16px;
	color: var(--text-highlight);
	font-size: 28px;
	text-align: center;
}

.pocetna-izlozbe-blok img{
	height: 270px;
	width: 100%;
	margin: 25px 0px;
	box-shadow: 5px 7px 18px #888888;
	border-radius: 10px;
}

.pocetna-izlozbe-blok p{
	font-size: 18px;
}

footer{
	width: 100%;
	background-color: #261711;
	margin-top: 55px;
	animation: podizanje 2s ease-out;
}

.footer-blok-red{
	width: 100%;
	display: flex;
	justify-content: space-evenly;
}

.footer-naslovi{
	justify-content: space-around;
}

.footer-naslov{
	width: 25%;
	text-align: center;
}

.footer-content{
	justify-content: space-around;
	align-items: center;
}

.footer-social{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
}

footer h5{
	font-size: 28px;
	text-align: left;
	color: #9AD93D;
	font-weight: normal;
	margin-bottom: 20px;
}

footer p{
	font-size: 20px;
	color: #FFFDD1;
}

footer a{
	font-size: 20px;
}

footer i{
	font-size: 20px;
}

#footer-kontakt{
	width: 25%;
}

#footer-kontakt ul{
	text-align: left;
	display: flex;
	justify-content: space-evenly;
	padding: 5px 0px;
}

#footer-kontakt ul li{
	color: #FFFDD1;
	margin-right: 15px;
}

#footer-kontakt ul li i{
	margin-right: 3px;
}

#footer-menu{
	width: 25%;
}

#footer-menu ul{
	text-align: left;
	display: flex;
	justify-content: space-evenly;
	padding: 5px 0px;
}

#footer-menu ul li{
	margin-bottom: 6px;
}

#footer-newsletter{
	width: 25%;
	text-align: center;
}

#footer-newsletter input[type = email]{
	width: 50%;
	padding: 12px;
	margin-right: -5px;
	border: none;
	border-radius: 15px 0px 0px 15px;
	background-color: #FFFDD1;
	color: #000;
}

#footer-newsletter input[type = email]:focus{
	color: #000;
}

#footer-newsletter input[type = submit]{
	cursor: pointer;
	padding: 12px;
	border: none;
	border-radius: 0px 15px 15px 0px;
	color: #000;
	background-color: #FFFDD1;
	border-left: 3px solid #9AD93D;
	font-family: 'Rubik', sans-serif;
}

::placeholder{
	color: #000;
}

#social{
	text-align: center;
	width: 35%;
}

#social ul li{
	display: inline;
}

#social ul li a{
	font-size: 30px;
	text-align: center;
}

#social ul li a i{
	margin-right: 15px;
}

#copyright{
	width: 35%;
}

#copyright p{
	font-size: 16px;
	text-align: center;
}

.no-bot-pad{
	padding-bottom: 5px;
}

/* Enciklopedija CSS */

.doba-tekst{
	width: 85%;
	font-size: 17px;
	animation: fadein 2s;
}

.doba-tekst p{
	margin-bottom: 16px;
}

.enciklopedija-blok{
	width: 28%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	animation: fadein 2s;
}

.naziv-dinosaurusa{
	font-size: 26px;
	margin-bottom: 30px;
	color: var(--text-highlight);
}

.naziv-dinosaurusa a{
	font-size: 26px;
	margin-bottom: 30px;
	color: var(--text-highlight);
}

.slika-dinosaurusa{
	width: 100%;
	margin-bottom: 20px;
}

.slika-dinosaurusa img {
	width: 100%;
	height: 230px;
	box-shadow: 2px 3px 10px #888888;
	transition: width 1s, height 1s;
	border-radius: 10px;
}

.slika-dinosaurusa img:hover{
	width: 470px;
	height: 270px;
}

.podaci-dinosaurusa{
	font-size: 17px;
}

.podaci-dinosaurusa td{
	height: 50px;
	width: 250px;
	border-bottom: 3px solid #ddd;
	padding: 10px 0px;
}

.podaci-dinosaurusa span{
	font-weight: bold;
}

/* Izlozbe CSS */

.izlozbe-blok{
	display: flex;
	justify-content: space-between;
	align-items: center;
	animation: fadein 2s;
}

.izlozbe-slika{
	width: 55%;
}

.izlozbe-slika img{
	width: 100%;
	height: 500px;
	border-radius: 10px;
	box-shadow: 2px 3px 10px #888888;
}

.kraca-slika img{
	height: 380px;
}

.duza-slika{
	width: 60%;
}

.izlozbe-text{
	width: 40%;
}

.kraci-text{
	width: 35%;
}

.izlozbe-text p{
	text-align: justify;
	font-size: 16px;
	padding-bottom: 20px;
	line-height: 22px;
}

.izlozbe-text span{
	font-weight: bold;
	font-size: 25px;
	padding-bottom: 20px;
}

.izlozbe-text .italic{
	font-style: italic;
	color: var(--text-highlight);
}

.izlozbe-text .p-size{
	font-size: 16px;
	color: var(--text-highlight);
}

.izlozbe-text .highlight-text{
	color: var(--text-highlight);
}

.izlozbe-text ul{
	list-style-type: circle;
	margin-left: 18px;
}

/* O Nama CSS */

.o-nama-blok{
	display: flex;
	justify-content: space-between;
	align-items: center;
	animation: fadein 2s;
}

.o-nama-slika{
	width: 55%;
}

.o-nama-slika img{
	width: 100%;
	border-radius: 10px;
	box-shadow: 2px 3px 10px #888888;
}

.o-nama-text{
	width: 40%;
}

.o-nama-text p{
	text-align: justify;
	font-size: 17px;
	padding-bottom: 20px;
	line-height: 22px;
}

.o-nama-text span{
	font-weight: bold;
	font-size: 25px;
	padding-bottom: 20px;
}

.o-nama-text .italic{
	font-style: italic;
	color: var(--text-highlight);
}

.o-nama-text .p-size{
	font-size: 17px;
	color: var(--text-highlight);
}

.o-nama-text .highlight-text{
	color: var(--text-highlight);
}

/* Kontakt Forma */

#o-nama-forma td{
	padding: 0px 20px;
	padding-bottom: 20px;
}

#o-nama-forma input{
	font-family: 'Rubik', sans-serif;
	font-size: 22px;
}

#o-nama-forma input[type = text]{
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 2px solid var(--text-highlight);
	width: 350px;
	margin-bottom: 30px;
	padding-bottom: 8px;
}

#o-nama-forma input[type = email]{
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 2px solid var(--text-highlight);
	width: 100%;
	margin-bottom: 30px;
	padding-bottom: 8px;
}

#o-nama-forma textarea{
	font-family: 'Rubik', sans-serif;
	border: 2px solid var(--text-highlight);
	border-radius: 10px;
	width: 100%;
	margin-bottom: 30px;
	font-size: 22px;
	padding-top: 8px;
	padding-left: 8px;
	box-sizing: border-box;
}

#o-nama-forma input[type = submit]{
	margin: 0px auto;
	display: flex;
	padding: 10px 70px;
	font-size: 19px;
	font-weight: bold;
	border-radius: 10px;
	transition: 0.7s;
	transition-timing-function: ease-in-out;
}

#o-nama-forma input[type = submit]:hover{
	background-color: var(--text-highlight);
	
}

#o-nama-forma input::placeholder{
	color: #000;
}

#o-nama-forma textarea::placeholder{
	color: #000;
}


/* O Autoru CSS */

#autor-slika{
	width: 40%;
	text-align: center;
	animation: fadein 2s;
}

#autor-slika img{
	width: 70%;
	border-radius: 15px;
	box-shadow: 4px 3px 16px #888888;
	filter: grayscale(80%);
	transition: filter 0.6s ease;
}

#autor-slika img:hover{
	filter: grayscale(0%);
}

#autor-text{
	text-align: center;
}

#autor-text h4{
	font-size: 28px;
	padding-top: 40px;
	padding-bottom: 20px;
	color: var(--text-highlight);
}

#autor-text p{
	font-size: 19px;
}